presubmits:
  kubesphere/kubesphere:
  - name: pull-kubesphere-unit-test
    labels:
      preset-go-build-cache: "true"
    always_run: true
    branches:
    - ^master$
    - ^release-[4-9].*$
    - ^feature-.*$
    decorate: true
    path_alias: kubesphere.io/kubesphere
    spec:
      containers:
      - command:
        - entrypoint
        - make
        - all
        image: kubesphere/build-tools:master-2023-02-07T15-52-56
        name: ""
        resources:
          limits:
            memory: 8Gi
          requests:
            cpu: "4"
            memory: 2Gi

  - name: pull-kubesphere-unit-test
    labels:
      preset-go-build-cache: "true"
    always_run: true
    branches:
    - ^release-[1-3].*$
    decorate: true
    path_alias: kubesphere.io/kubesphere
    spec:
      containers:
      - command:
        - entrypoint
        - make
        - all
        image: kubesphere/build-tools:master-2021-06-17T12-38-31
        name: ""
        resources:
          limits:
            memory: 8Gi
          requests:
            cpu: "4"
            memory: 2Gi

  - name: pull-kubesphere-verify
    always_run: true
    skip_if_only_changed: "^docs/|\\.(md|json)$|^(README|LICENSE)$"
    branches:
    - ^master$
    - ^release-[4-9].*$
    - ^feature-.*$
    decorate: true
    path_alias: kubesphere.io/kubesphere
    spec:
      containers:
      - command:
        - entrypoint
        - bash
        - -e
        - -c
        - "make verify-all"
        image: kubesphere/build-tools:master-2023-02-07T15-52-56
        name: ""
        resources:
          limits:
            memory: 8Gi
          requests:
            cpu: "4"
            memory: 2Gi

  - name: pull-kubesphere-verify
    always_run: true
    branches:
    - ^release-[1-3].*$
    decorate: true
    path_alias: kubesphere.io/kubesphere
    spec:
      containers:
      - command:
        - entrypoint
        - bash
        - -e
        - -c
        - "make verify-all"
        image: kubesphere/build-tools:master-2021-06-17T12-38-31
        name: ""
        resources:
          limits:
            memory: 8Gi
          requests:
            cpu: "4"
            memory: 2Gi

  - name: pull-kubesphere-e2e
    labels:
      preset-go-build-cache: "true"
      preset-docker-sock: "true"
    always_run: false
    branches:
    - ^master$
    - ^release-.*$
    decorate: true
    path_alias: kubesphere.io/kubesphere
    spec:
      containers:
      - command:
        - entrypoint
        - bash
        - -e
        - -c
        - "make kind-e2e"
        image: kubesphere/build-tools:master-latest
        name: ""
        resources:
          limits:
            memory: 8Gi
          requests:
            cpu: "4"
            memory: 2Gi
