presubmits:
  kubesphere/console:
  - name: pull-console-unit-test
    always_run: true
    decorate: true
    branches:
    - ^master$
    - release-*
    spec:
      containers:
      - command:
        - "/bin/sh"
        - "-c"
        - "yarn && yarn test"
        image: node:12.18
        name: ""
        resources:
          requests:
            cpu: "1"
            memory: 2Gi

  - name: pull-console-build
    always_run: true
    decorate: true
    spec:
      containers:
      - command:
        - "/bin/sh"
        - "-c"
        - "REPO=kubespheredev TAG=${PULL_BASE_REF} make container"
        image: kubesphere/build-tools:master-latest
        name: ""
        resources:
          requests:
            cpu: "1"
            memory: 2Gi

  - name: pull-console-preview-deploy
    labels:
      preset-docker-sock: "true"
      preset-docker-credentials: "true"
      preset-preivew-cluster-kubeconfig: "true"
      preset-github-credentials: "true"
      preset-preview-deployment-template: "true"
    always_run: false
    decorate: true
    skip_report: true
    spec:
      containers:
      - command: ["/bin/bash", "-c"]
        args:
        - set -o errexit;
          set -o nounset;
          gh auth login --with-token < /home/.github/oauth;
          gh -R kubesphere/console pr comment ${PULL_NUMBER} --body "Start building preview env, will notify when it's ready.";
          REPO=kubespheredev TAG=pr-${PULL_NUMBER} make container-push;
          sed "s/PULL_NUMBER/$PULL_NUMBER/g" /home/.template/template.yaml | kubectl --kubeconfig /home/.kube/preview-kubeconfig apply -f -;
          kubectl --kubeconfig /home/.kube/preview-kubeconfig -n kubesphere-system wait deployment --for=condition=Available=true pr-${PULL_NUMBER};
          URL=$(kubectl --kubeconfig /home/.kube/preview-kubeconfig -n kubesphere-system logs -lapp=pr-${PULL_NUMBER} -c kunnel |  grep -Eo 'https://[^ >]+');
          destroy_date=$(date --date="tomorrow");
          gh -R kubesphere/console pr comment ${PULL_NUMBER} --body "Preview cluster is ready on ${URL}, and it will be cleaned on ${destroy_date}."
        image: kubesphere/build-tools-lite:master-latest
        name: ""
        securityContext:
          priviledged: true
        resources:
          requests:
            cpu: "2"
            memory: 4Gi
